body {
    background: #eee;
    font-size: 16px;
}

#shanbay .navbar {
    background: #209e85;
}

#shanbay .navbar-nav li>a {
    color: #f5f5f5;
}

#shanbay .navbar-nav li.active>a {
    background: inherit;
}

.logo {
    width: 80px;
    margin-top: -5px;
}

.login-client-page {
    width: 900px;
    height: 560px;
    background: #fdfdfd;
}

.slides {
    float: left;
    /* display: inline-block; */
    width: 50%;
    background: #ddd;
    height: 100%;
}

.main .carousel-inner {
    overflow: hidden;
}

.main .carousel {
    display: block;
}

.main .carousel-control {
    display: none;
}

.login-wrap {
    float: right;
    width: 50%;
    height: 100%;
    padding: 5%;
}

.login-wrap .input-container {
    position: relative;
}

.login-wrap form i {
    position: absolute;
    font-size: 25px;
    top: 10px;
    left: 10px;
    color: #ccc;
}

.login-wrap form input:focus+i {
    color: #24b598;
}

.login-wrap form input:focus {
    border: 1px solid #24b598;
    box-shadow: none;
}

.login-wrap form input {
    padding: 20px 40px;
    margin: 20px 0;
    font-size: 16px;
}

.btn-login {
    width: 100%;
    padding: 8px;
    color: #FFF;
    background: #23b598;
    font-size: 18px;
}

.forget {
    float: right;
}

.signup {
    margin: 10px 0 20px;
    color: #999;
}

.third-party {
    margin: 60px 0;
}