* {
  /* outline: 1px solid #BBB; */
  margin: 0;
  padding: 0;
}

body {
  background: #EEE;
}

li {
  list-style: none;
}

#navbar {
  background: #209e85;
  margin-bottom: 0;
}

#navbar .active a {
  background: rgba(0, 0, 0, 0.1);
}

#navbar a {
  color: #FFF;
}

#navbar .icon-bar {
  background: #FFF;
}

#navbar .logo {
  width: 100px;
  margin-top: -10px;
}

#header {
  border: none;
}

#header li a {
  color: #666;
  border: none;
}

#header .active a,
#header a:hover {
  background: transparent;
  border: none;
  border-bottom: 2px solid #209e85;
  color: #209e85;
}

#main {
  padding: 20px 100px 100px;
  background: #FFF;
}

#panels {
  margin: 50px 0;
}

#panels .panel-wrap {}

#panels .panel {
  border: 1px solid #CCC;
  padding: 40px 20px 30px;
  max-width: 70%;
  min-width: 250px;
  border-radius: 5px;
  font-weight: 200;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 30px;
}

#panels .circle {
  /* position: relative; */
  width: 160px;
  height: 160px;
  border-radius: 100%;
  border: 1px solid #CCC;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
}

#panels .circle-7 {
  background: #21c4b2;
  color: #FFF;
}

#panels .circle-30 {
  background: #f7cf6f;
}

#panels .days-consecutive {
  font-size: 16px;
}

#panels .days-count {
  font-size: 80px;
  margin-top: -20px;
}

#panels .days-unit {
  margin-top: -40px;
  font-size: 16px;
}

#panels .days-unit-7 {
  margin-left: 25px;
}

#panels .days-unit-30 {
  margin-left: 105px;
}

#panels .reward-wrap {
  margin-top: 30px;
}

#panels .deposit {
  padding: 20px 0;
}

#panels .return {
  padding: 30px 0 0;
  color: #e76857;
}

#panels .return .return-label {
  font-size: 12px;
}

#panels .return .return-arrow {
  font-size: 30px;
  margin-top: -5px;
}

#panels .reward-wrap {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#panels .reward-wrap .deposit-amount,
#panels .reward-wrap .shell-amount {
  font-size: 35px;
  color: #e76857;
}

#panels .credit-amount {
  font-size: 35px;
  color: #21c4b2;
}

#intro {
  line-height: 30px;
  padding-left: 80px;
}

#intro .num {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #CCC;
  background: #21c4b2;
  color: #FFF;
  text-align: center;
  margin-right: 10px;
}

#intro li {
  margin: 10px 0;
}